

body,html{
    background-image:url('./../img/dark_wood.png');
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 
}
.panel{
     background-color:rgba(200, 200,200, 0.6) !important;
}
a {
  color: #00B7FF;
}


/* Selectable Colours for List*/
.blue {
    background-color: rgba(4, 79, 103, 0.6) !important;
    color: white !important;
}
.red {
    background-color:rgba(143, 29, 33, 0.6) !important;
    color: white !important;
}
.orange {
    background-color:rgba(255, 164, 0, 0.6) !important;
    color: white !important;
}
.green {
    background-color:rgba(64, 122, 82, 0.6) !important;
    color: white !important;
}
.yellow{
    background-color:rgba(217, 182, 17, 0.6) !important;
    color: white !important;
}
.purple{
    background-color:rgba(91, 50, 86, 0.6) !important;
    color: white !important;
}
.pink {
    background-color:rgba(245, 143, 132, 0.6) !important;
    color: white !important;
}
div .showcolor {
    width:30px;
    height:10px;
}
.colorForTodoInfos{
    color:black;
}