<script type="text/ng-template" id="/lists.html">
    <div class="container-fluid">
        <div class="row">
    
    <div ng-repeat="list in lists" class=" col-xs-6 col-sm-3">
        <div class="panel panel-default">
        <div class="panel-heading">
        <a href="#/{{$index}}">{{list.name}}</a>
            </div>
            <div class="panel-body">
            <table class="table">
                <tbody class="table-striped">
                <tr ng-repeat="todo in list.todos">
                    <td>
           <input type="checkbox" ng-value="todo.completed" id="list.name+todo.name"/>
                      {{todo.name}} 
                    </td>
                    
                    </tr>
                </tbody>
                </table>
            </div>
        <div class="panel-footer">
            
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
           <input type="checkbox" ng-value="list.visibility" id="list.name"/>
            </div>
            </div>
    </div>
    </div>
    </div>
    
</script>

