doctype html
html(ng-app='app')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootflat/css/bootstrap.min.css')
    
    link(rel='stylesheet', href='/bootflat/bootflat/css/bootflat.min.css')
    include ./ngtemplates/listTemplates.html
    include ./ngtemplates/todoTemplates.html
   
  body
    block content
    

script(src='/lib/angular/angular.js')
script(src='/lib/angular-route/angular-route.js')
script(src='/js/controllers.js')
script(src='/js/main.js')
script(src='/bootflat/js/site.min.js')

script(src='/bootflat/js/jquery-1.10.1.min.js')
script(src='/bootflat/js/bootstrap.min.js')
script(src='/bootflat/bootflat/js/icheck.min.js')
script(src='/bootflat/bootflat/js/jquery.fs.stepper.min.js')
script(src='/bootflat/bootflat/js/jquery.fs.selector.min.js')