extends layout

block content
  div(class='panel panel-default')
        div(class='panel-heading ')
            div(class='container')
                div(class='row-fluid')
                    h5(class='col-xs-6 col-sm-3')=title
                    div(class='col-xs-6 col-sm-3 pull-right')
                        div(class='btn-group' role='group')
                      
                            a( class='btn btn-success',href='#/list/create',role='button')
                                span(class='glyphicon glyphicon-plus')
                      
                            
                            
        div(class='panel-body') 
            include ./ngtemplates/ngView.html