<div class="panel panel-default">
   <div class="panel-heading ">
      <div class="container">
         <div class="row-fluid">
            <h5 class="col-xs-6 col-sm-3">Edit List {{list.name}}</h5>
            <div class="col-xs-6 col-sm-3 pull-right">
               <div role="group" class="btn-group ">
                <a href='#/list/' role='button' class='btn btn-default'><span class=' glyphicon glyphicon-arrow-left'></span></a>
                <button class='btn btn-success' ng-click="update()" type='submit'><span class='glyphicon glyphicon-floppy-disk'></span></button>
                <button class='btn btn-danger'  ng-click="remove($index)"><span class='glyphicon glyphicon-remove'></span></button>
            </div>
            </div>
         </div>
      </div>
   </div>
   <div class="panel panel-body">
      <div class="container-fluid">
         <div class="row">
         
          <div  class=" col-xs-6 col-sm-3">
          <div class="form-group">
			 <label for="color">Color: </label>
                   <select id="color"   ng-model="list.color" name="colors"  class="form-control" title="Choose a colors">
             
                <option value="blue" class="blue">Blue</option>
                <option value="green" class="green">Green</option>
                <option value="orange" class="orange">Orange</option>
                <option value="red" class="red">Red</option>
                <option value="yellow" class="yellow">Yellow</option>
                <option value="pink" class="pink">Pink</option>
                <option value="purple" class="purple">Purple</option>
            </select>
            </div>
            </div>
            <div  class=" col-xs-6 col-sm-3">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <input type='text' ng-model='list._name'/>
                  </div>
                  <div class="panel-body {{list.color}}">
                     <table class="table">
                        <tbody class="table-striped">
                           <tr ng-repeat="todo in list.todos">
                              <td>
                                 <div class='container-fluid'>
                                    <div class='row'>
                                        <div ng-if="todo!=null" ng-repeat="t in todos ">
              <input ng-if="todo==t._id"   ng-value="t.completed" class="checkbox" type="checkbox"/>
                          <span ng-if="todo==t._id"  > {{t.description}}</span> 
                           
                                       <div ng-if="todo==t._id" class="btn-group pull-right">
                                       <a ng-if="todo==t._id" class="btn btn-danger btn-xs pull-right">
                                          <span ng-if="todo==t._id" class='glyphicon glyphicon-remove '></span></a>
                                    <a ng-if="todo==t._id" class="btn btn-default btn-xs pull-right" >
                                          <span ng-if="todo==t._id" class='glyphicon glyphicon-pencil '></span></a>
                                          </div>
                                           </div>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
                  <div class="panel-footer">
                  <span class="glyphicon glyphicon-user" aria-hidden="list.visibility"></span>
               <label class="toggle">
			  <input ng-model="list.visibility" ng-checked="list.visibility=='public'" ng-True-Value="'public'" ng-False-Value="'private'"  type="checkbox"> 
			  <span class="handle">
             </span>
			</label>
                  

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
