<div class="modal fade" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="todoeModalLabel">
   <div class="modal-dialog" role="document" >
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="todoeModalLabel"><span class='glyphicon glyphicon-plus '></span> New Todo </h4>
         </div> 
         <div class="modal-body">
            <form>
               <div class="form-group">
                  <label for="idlist" class="control-label">List:</label>
                  <input type="text"  ng-value="list._name"  disabled="" class="list_class form-control" id="idlist">
                 <input type="hidden" name="list" id="idListHidden" value="">
               </div>
               <div class="form-group">
                  <label for="todo_name" class="control-label">Todo name:</label>
                  <input type="text" ng-init="todo_name='test'"    class="form-control" id="todo_name">
               </div>
               <div class="form-group">
               <label for="duedatepicker" class="control-label">duedate:</label>
  <div class="input-group date" data-provide="datepicker">
    <input type="text" id="duedatepicker" data-date-format="YYYY-MM-DD" class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>  
    
</div>  </form>
        </div>
         <div class="modal-footer">
         <div role="group" class="btn-group">
            <button type="button" class="btn btn-default" data-dismiss="modal"><span class='glyphicon glyphicon-remove'></span></button>
            <button class='btn btn-success' id="saveTodo" type='submit' data-dismiss="modal" ng-click="saveTodo()"><span class='glyphicon glyphicon-floppy-disk'></span></button>
          </div>
         </div>
      </div>
   </div>
</div>
  <!--div class="checkbox">
                  <input type="checkbox" id="flat-checkbox-1">
                  <label for="flat-checkbox-1"> {{todo.name}}</label>
                </div>
                  <script>    $('.checkbox input').iCheck({
        checkboxClass: 'icheckbox_flat',
        increaseArea: '20%'
    });</script>  
     <div class="checkbox">
                  <input type="checkbox" id="newone">
                  <label for="newone"> {{todo.name}}</label>
                </div>
                  <script>    $('.checkbox input').iCheck({
        checkboxClass: 'icheckbox_flat',
        increaseArea: '20%'
    });</script>  
    
    ng-if="DisplayUpdate === 'none'"
    
    <div class="checkbox">
                  <input type="checkbox" id="newone">
                  <label for="newone"> {{todo.name}}</label>
                </div>
                  <script>    $('.checkbox input').iCheck({
        checkboxClass: 'icheckbox_flat',
        increaseArea: '20%'
    });</script-->  
<div class="panel panel-default">
<div class="panel-heading ">
   <div class="container">
      <div class="row-fluid">
         <h5 class="col-xs-6 col-sm-3">My Lists {{user.username}}</h5>
         <div class="col-xs-6 col-sm-3 pull-right">
         
           <div role="group" class="btn-group ">
           
                <a href='/logout' role='button' class='btn btn-default'><span class=' glyphicon glyphicon-log-out'></span></a>
            <a href="#/list/public" role="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span></a>
          <button id="filterPrivate"  ng-click="filterPrivates()" class="btn btn-default"><span class="glyphicon glyphicon-eye-close"></span></button>
            <button id="filterPublic"  ng-click="filterPublics()" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
         
           <a href="#/list/create" role="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
               
           </div>
         </div>
      </div>
   </div>
</div>
<div class="panel panel-body">
<!--div class="container-fluid">
   <div class="row">
   
      <div ng-repeat="list in lists" class=" col-xs-6 col-sm-3">
<ul class="list-group">

  <li class="list-group-item" ng-repeat="todo in list.todos">   <div class="checkbox">
                  <input type="checkbox" id="newone">
                  <label for="newone"> {{todo.name}}</label>
                </div>
                  </li>
</ul>
</div>
</div>
</div-->
<div class="container-fluid">
   <div class="row">
      <div ng-repeat="list in lists" class=" col-xs-6 col-sm-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <div class="container-fluid">
                  <div class='row'>
                     <span class="listNames">{{list._name}}</span>
                     <div class='pull-right'>
                     
                     <div role="group" class="btn-group pull-right">
                     <a type="button" class="btn btn-success btn-xs" href="#/list/{{list._name}}"><span class='glyphicon glyphicon-pencil '></span></a>
                        <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#todoModal"  data-whatever="{{list._name}}" data-index="{{$index}}"><span class='glyphicon glyphicon-plus '></span></button>
                     </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel-body {{list.color}}">
             
               <table class="table">
                  <tbody class="table-striped">
                     <tr class="{{checkDueDate(activeTodo.duedate)}}" ng-repeat="activeTodo in list.todos.active ">
                        <td>
                        <div class="checkbox">
              <input ng-model="activeTodo.completed" class="checkbox" type="checkbox"/>
                            <span class=" dates" >{{activeTodo.description}}<br/>s{{dateReadable(activeTodo.duedate)}}</span> 
                            </div> 
                        
                          
                          
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="panel-footer">
               <span class="glyphicon {{isPublic(list.visibility)}}" aria-hidden="list.visibility"></span>
              
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>
 <script>    $('.checkbox input').iCheck({
        checkboxClass: 'icheckbox_flat',
        increaseArea: '20%'
    });</script>